        body{
            background: white;
            text-align: center;
            font-size: 10px;
            color:#fff;
        }
        #result{
            margin: 30px auto;
            width: 200px;
            height: 200px;
            border-radius: 50px;
            line-height: 180px;
            color:black;
            font-size: 100px;
            font-weight: bold;
            background-color: rgb(47, 255, 227);
            box-shadow: 0, 2px, 10px rgba(0,0,0,0.3);
            background-color: rgba(0, 153, 255, 0.308)
        }
        #btn{
            margin: 20 px;
            width: 300px;
            padding: 50px;
            border-radius: 5px;
            background: rgb(0, 204, 255);
            box-shadow: 0 4px 0 rgb(119, 0, 255);
            cursor: pointer;
            font-size:50px;
        }